body {
  background-image: url("https://marketplace.canva.com/EAFhwfMq3ds/1/0/1600w/canva-colorful-cute-cats-illustration-desktop-wallpaper-KBBZLdpjLcM.jpg");
  background-size: cover;
  background-position: center;
  font-family: 'Trebuchet MS';
}

#mainbox {
  width: 1000px;
  margin: 40px auto;
  background-color: #ffffff;
  border: 2px solid #000000;
  padding: 20px;
}

#title {
  text-align: center;
  color: #3007c5;
  background-color: #d6f5ff;
  padding: 10px;
  font-weight: bold;
  border: 2px solid #808080;
}

#subtitle {
  text-align: center;
  color: #808080;
  font-style: italic;
  margin-bottom: 20px;
}

.sidebox {
  width: 25%;
  float: left;
  background-color: #aee0ff;
  border: 1px solid #000000;
  padding: 10px;
  text-align: center;
}

.sidebox h2 {
  color: #1a1a1a;
  margin-bottom: 10px;
}

.sidebox ul {
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.sidebox li {
  margin-top: 6px;
    margin-right: 0;
    margin-bottom: 6px;
    margin-left: 0;
  font-weight: bold;
}

.entries {
  width: 70%;
  float: right;
}

.entry {
  background-color: #e8f6ff;
  border: 1px solid #808080;
  padding: 15px;
  margin-bottom: 15px;
}

.date {
  color: #8b0000;
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 18px;
}

img {
  float: right;
  border: 1px solid #808080;
  margin-left: 10px;
  margin-bottom: 5px;
  width: 300px;
  height: auto;
}

#mainbox::after {
  content: ""; /*creates an empty invisible element after everything inside mainbox*/
  display: block;/*makes that invisible element behave like a block (takes up full width)*/
  clear: left; /*makes sure the box goes aroumd all left things*/
  clear: right /*makes sure the box goes aroumd all right things*/
}